<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bj.zhaoyun">

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.BannerActivity" />
        <activity android:name=".ui.SlideLetterActivity" />
        <activity android:name=".ui.PieChartActivity" />
        <activity android:name=".ui.TelecontrollerActivity" />
        <activity android:name=".ui.LineChartActivity" />
        <activity android:name=".ui.GestureImageActivity"></activity>
    </application>

</manifest>